html {
	min-width: 1250px;
}
body {
	background-color: #fff;
}
main {
	width: 1210px;

	position: relative;

	display: block;
	margin: auto;
}
.slayd {
    height: 148px;
    width: 231px;

    position: absolute;
    top: 12px;
    left: 335px;

    display: none;
}
.slayd small {
	font-size: 20px;
	text-align: left;

	display: block;
	padding: 2px 10px;
}
.slayd big {
	font-size: 35px;

	display: block;
}
.slayd bdo, .slayd bdi {
	width: 239px;

	font-size: 28px;
	text-overflow: ellipsis;
	overflow: visible;
	display: block;
}
tr:nth-child(-n+8)  td:hover div {
	
}
.figure1 {
    height: 70px;
    width: 540px;

    position: absolute;
    top: 45px;
    left: 215px;
}
.figure2 {
    height: 70px;
    width: 540px;

    position: absolute;
    top: 120px;
    left: 215px;	
}
figure img {
	height: 70px;
	width: 70px;
}
* {
	padding: 0;
	margin: 0;
}
.one {
	border-radius: 3px;
	border-spacing: 5px;
}
th {
	height: 50px;
	width: 44px;

	font-size: 15px;

	padding: 3px 9px;
	border-spacing: 4px;
}
td {
	font-family: monospace;
	text-align: center;
	
	border-radius: 3px;
	box-shadow: -3px 3px 4px #9C8787;

	transition: 1s;
}
small {
	font-size: 12px;
	text-align: left;

	display: block;
	box-sizing: border-box;
}
small::before {
	position: absolute;
	top: -5px;
	left: -215px;

    content: "atomic number______";
}
big {
	font-size: 20px;
	
	display: block;
}
big::before {
	position: absolute;
	top: 28px;
	left: 210px;
    
	content: "______symbol";
}
bdo {
	width: 56px;

	font-size: 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	
	display: block;
}
bdo::before {
	position: absolute;
	top: 65px;
	left: -115px;

	content: "name______";
}
bdi {
	width: 56px;

	font-size: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    
    display: block;
}
bdi:before {
    position: absolute;
    top: 99px;
    left: 220px;
    
    content: "______atomic mass";
}
a small:before, a big:before, a bdo:before, a bdi:before {
	display: none;
}
.slayd small:before, .slayd big:before, .slayd bdo:before, .slayd bdi:before {
	color: #555556;
	font-family: sans-serif;
	font-size: 20px;
	white-space: nowrap;
	letter-spacing: 1px;
}

a {
	color: #000;
	text-decoration: none;

	display: block;
	padding: 3px;
}
.alkaliMetals, .alkaliMetals div {
	background: -webkit-linear-gradient(-45deg, #5f3c72 0%, #9f83ae 25%, #5f3c72 50%, #9f83ae 75%, #5f3c72 100%);
}
.alkalineMetals, .alkalineMetals div {
	background: -webkit-linear-gradient(-45deg, #6c669d 0%, #a8a5c8 25%, #6c669d 50%, #a8a5c8 75%, #6c669d 100%);
}
.transitionMetals, .transitionMetals div {
	background: -webkit-linear-gradient(-45deg, #2d84ca 0%, #53a0d4 25%, #2d84ca 50%, #53a0d4 75%, #2d84ca 100%);
}
.basicMetals, .basicMetals div {
	background: -webkit-linear-gradient(-45deg, #2b90a4 0%, #53a9b7 25%, #2b90a4 50%, #53a9b7 75%, #2b90a4 100%);
}
.semiMetals, .semiMetals div {
	background: -webkit-linear-gradient(-45deg, #359046 0%, #70b77c 25%, #359046 50%, #70b77c 75%, #359046 100%);
}
.nonmetals, .nonmetals div {
	background: -webkit-linear-gradient(-45deg, #EAE88D 0%,#C3BF27 25%, #EAE88D 50%, #C3BF27 75%, #EAE88D 100%);
}
.halogens, .halogens div {
	background: -webkit-linear-gradient(-45deg, #cb6b00 0%, #e5a84a 25%, #cb6b00 50%, #e5a84a 75%, #cb6b00 100%);
}
.nobleGases, .nobleGases div {
	background: -webkit-linear-gradient(-45deg, #ba0000 0%, #e04153 25%, #ba0000 50%, #e04153 75%, #ba0000 100%);
}
.lanthanides, .lanthanides div {
	background: -webkit-linear-gradient(-45deg, #ce648b 0%, #e09ab3 25%, #ce648b 50%, #e09ab3 75%, #ce648b 100%);
}
.actinides, .actinides div {
	background: -webkit-linear-gradient(-45deg, #da0b45 0%, #f05e8c 25%, #da0b45 50%, #f05e8c 75%, #da0b45 100%);
}
tr:nth-child(9)>td {
	padding-top: 15px;
	box-shadow: none;
}
tr:nth-child(9)>td>table {
	border-spacing: 5px;
	margin: auto;
}
tfoot>tr>td {
	box-shadow: none;
}
.second {
	padding-top: 10px;
	border-spacing: 6px;
	margin: auto;
}
.second td {
	width: 140px;

	font-family: sans-serif;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	padding: 17px 5px;
}
@media (min-width: 2500px){
    th, bdo, bdi {
        font-size: 5px;
    }
}
.figure1 img:nth-child(1):hover .sw, .ge, .usa, .fr, .ru, .au, .dan, .sp, .swz, .fn, .it, .rom, .kta {
	opacity: .3
}